{% extends 'base.html' %}

{% block css %}
    {% load staticfiles %}
    <link href="{% static 'django_facebook/css/facebook.css' %}" type="text/css" rel="stylesheet" media="all" />
{% endblock %}

{% block content %}
    {% load staticfiles %}
    {% if request.user.facebookprofile %}
        {{ request.user.email }}
        has facebook profile

        <a href="{% url 'auth_logout' %}">Logout</a>
    {% else %}
        <form action="{% url 'facebook_connect' %}?facebook_login=1" method="post">
            <input type="hidden" value="{{ request.path }}" name="next" />
            <input type="hidden" value="{{ request.path }}" name="register_next" />
            <input type="hidden" value="{{ request.path }}" name="error_next" />
            {% csrf_token %}
            <input onclick="F.connect(this.parentNode); return false;" type="image" src="{% static 'django_facebook/images/facebook_login.png' %}" />
        </form>
        <form action="{% url 'facebook_connect' %}?facebook_login=1" method="post">
            <input type="hidden" value="1" name="connect" />
            {% csrf_token %}
            <a onclick="F.connect(this.parentNode); return false;" href="javascript:void(0);">Connect</a>
        </form>
    {% endif %}
    {% include 'django_facebook/_facebook_js.html' %}
{% endblock %}